<h1 class="text-center"><%= current_user.username %>'s Messages</h1><br>

<% if current_user.messages.count == 0 %>

  <h4 class="text-center alert alert-warning" role="alert">You are not connecting to any users. Please make friends to start.</h4>
  <a href="/users/current_user" class="btn btn-default btn-sm" role="button">Homepage</a></h5>

<% else %>

  <h3><button type="button" class="btn btn-primary">Inbox</button></h3>

  <% friends_messages = Message.all.select {|m| m.friend == current_user} %>
  <% friends_messages.each do |message| %>
    <table class="table">
      <td class="success"><%= message.user.username %></td>
      <td class="active"><a href="/messages/<%= message.id %>">View</a></td>
    </table>
  <% end %>
  <br>

  <h3><button type="button" class="btn btn-primary">Sent</button></h3>
  <% current_user.messages.each do |message| %>
  <table class="table">
    <td class="info"><%= message.friend.username %></td>
    <td class="active"><a href="/messages/<%= message.id %>">View</a></td>
  </table>
  <% end %>

  <a href="/users/current_user" class="btn btn-default btn-sm" role="button">Homepage</a></h5>

<% end %>
