<div class="ui top fixed inverted menu">
  <a class="item" href="/users/current_user"><h3>
    The Message Book</h3>
  </a>
  <a class="item active" href="/messages/messages">
    Messages
  </a>
  <a class="item" href="/users/friends">
    Friends
  </a>
  <a class="item" href="/logout">
    Log out
  </a>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
    <div class="twelve wide column">
      <% if flash.has?(:message_update) %>
      <h4 class="alert alert-success" role="alert"><%= flash[:message_update]%></h4>
      <% end %>
      <h1 class="main-title">Message View Page</h1>
      <h3 class="ui header">
        Sender
        <div class="sub header"><%= @message.user.username %></div>
      </h3>
      <h3 class="ui header">
        Receiver
        <div class="sub header"><%= @message.friend.username %></div>
      </h3>
      <h3 class="ui header">
        Content
        <div class="sub header"><%= @message.content %></div>
      </h3>
      <br>
      <% if flash.has?(:message_edit) %>
        <h4 class="alert alert-danger" role="alert"><%= flash[:message_edit]%></h4>
      <% end %>
      <div class="ui grid">
        <% if @message.user == current_user %>
        <div class="two wide column"><a href="/messages/<%= @message.id %>/edit" class="ui small teal button" role="button">Update</a></div>
        <div class="two wide column">
          <form class="" action="/messages/<%= @message.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit" class="ui small red button">Delete</button>
          </form>
        </div>
        <% end %>
        <div class="two wide column"><a href="/messages/messages" class="ui small blue button" role="button">Messages</a></div>
      </div>
    </div>
  </div>
</div>
