<h1>Message View Page</h1>

<h2>Sender: <%= @message.user.username %></h2>
<h2>Receiver: <%= @message.friend.username %></h2>
<h2>Content: </h2>
<h2><%= @message.content %></h2>
<a class="button" href="/messages/<%= @message.id %>/edit">Edit Message</a><br>
<% if flash.has?(:message_edit) %>
  <%= flash[:message_edit] %>
<% end %>
<form class="" action="/messages/<%= @message.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Message">
</form>
<a class="button" href="/messages/messages">View All Messages</a><br>
<a class="button" href="/users/current_user">Homepage</a>
