<% if flash.has?(:message_update) %>
<h4 class="alert alert-success" role="alert"><%= flash[:message_update]%></h4>
<% end %>
<h1 class="main-title">Message View Page</h1>
<br>
<div class="form-group">
  <label for="sender">Sender</label>
  <p class="form-control" id="sender"><%= @message.user.username %></p>
</div>
<div class="form-group">
  <label for="receiver">Receiver</label>
  <p class="form-control" id="receiver"><%= @message.friend.username %></p>
</div>
<label for="content">Content</label>
<p class="form-control" id="content"><%= @message.content %></p>
<br>
<% if flash.has?(:message_edit) %>
<h4 class="alert alert-danger" role="alert"><%= flash[:message_edit]%></h4>
<% end %>
<a href="/messages/<%= @message.id %>/edit" class="btn btn-default btn-sm active" role="button">Edit Message</a><br>
<br>
<form class="" action="/messages/<%= @message.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <!-- <input type="submit" name="" value="Delete Message"> -->
  <button type="submit" class="btn btn-default btn-sm active">Delete Message</button><br><br>
</form>
<a href="/messages/messages" class="btn btn-default btn-sm active" role="button">View All Messages</a><br><br>
<a href="/users/current_user" class="btn btn-default btn-sm active" role="button">Homepage</a>
